.share-table {
  border: solid 1px #888;
  margin: 1em auto 2em;

  .header,
  .share-item {
    display: grid;
    // grid-column-gap: 0.5em;
    grid-template-columns: repeat(3, 1fr);

    span {
      padding: 0.25em 0.5em;
    }
  }

  .header + share-item {
    border-top: solid 1px #888;
  }
}

